html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	font-size: 13px;
	color: #eeeeee;
}

/* General layout stuff */
#wholeUIContainer {
	display: grid;
	align-items: stretch;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 3fr 2fr;
	grid-gap: 5px;
	padding: 5px;
	box-sizing: border-box;
	grid-template-areas: 
		"mapContainer audioControls"
		"loopEditor loopEditor";
	width: 100vw;
	height: 100vh;
	background-color: #303030;
}

/* direct children of the UI settings only */
#wholeUIContainer > div {
	border-radius: 2px;
}

.containerPadded {
	padding: 10px;
}

h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}

/* Map UI stuff */

/* Style the radio selectors as buttons */
.radioButton {
	padding: 5px 7px;
	border-radius: 500px;
	color: #eeeeee;
	font-size: 13px;
	cursor: pointer;
}

input, select {
	margin: 3px 0px;
}

input[disabled] {
	cursor: not-allowed;
}

/* Style text input */
input[type="text"], input[type="number"] {
	background-color: transparent;
	border: none;
	color: #eeeeee;
	border-bottom: 2px solid #eeeeee;
	-moz-appearance: textfield;
}

/* Style numerical input */
.shortNumber {
	width: 2em;
}
/* Old trick from: https://stackoverflow.com/a/4298216/3196151 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Button styling */
input[type="button"], .buttonGroup .radioButton {
	background-color: transparent;
	padding: 5px 7px;
	border-radius: 500px;
	color: #eeeeee;
	font-size: 13px;
	border: 2px solid #aaaaaa;
	cursor: pointer;
}

input[type="button"]:active, .radioButton:active {
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: #303030;
}

input[type="button"]:hover, .radioButton:hover, input[type="button"]:focus, .radioButton:focus {
	color: #ffffff;
	border: 2px solid #ffffff;
}

/* Button groups */
.buttonGroup {
	display: inline-block;
}

.buttonGroup input[type="button"], .buttonGroup .radioButton {
	border-radius: 0;
	margin: auto 0;
	border-width: 2px 1px;
}

.buttonGroup input[type="radio"]:checked + .radioButton {
	background-color: #aaaaaa;
	color: #3D3D3D;
	border: 2px solid #aaaaaa;
}

.buttonGroup input[type="radio"] {
	display: none;
}

.buttonGroup input[type="button"]:first-child, .buttonGroup input[type="radio"]:first-child + .radioButton {
	border-radius: 500px 0 0 500px !important;
	border-width: 2px 1px 2px 2px !important;
}
.buttonGroup input[type="button"]:last-child, .buttonGroup .radioButton:last-child {
	border-radius: 0 500px 500px 0 !important;
	border-width: 2px 2px 2px 1px !important;
}


/* Used for disabling the canvas layer */
.noInteraction {
	opacity: 0;
	pointer-events: none;
}

#mapContainer {
	grid-area: mapContainer;
	background-color: #3D3D3D;
	display: grid;
	grid-template-rows: auto 1fr;
}

#mapWrapper {
	position: relative;
}

#drawingLayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#drawingLayer {
	cursor: crosshair;
}

#mapLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

/* Audio controls stuff */
#audioControlsContainer {
	grid-area: audioControls;
	background-color: #3D3D3D;
	min-width: 270px;
	position: relative;
}

#stagedAudioLayer {
	width: 100%;
	height: 10vh;
}

/* Loop editor stuff */
#loopEditorWrapper {
	grid-area: loopEditor;
	background-color: #3D3D3D;
	max-height: 50vh;
	overflow: auto;
}

/* Cash Money Stuff */
#checkShowWrapper {
	/*image fit */
}

/* Overriding playlist graphics */
.playlist .playlist-tracks {
	background-color: transparent;
}
.playlist .channel-wrapper {
	border-width: 1px 0;
	border-color: #000000;
	border-style: solid;
}
.playlist .controls {
	background-color: transparent;
}

.playlist .controls header {
	background-color: #808080;
	margin-bottom: 5px;
}
.playlist .controls label {
	margin: 5px auto;
}

.playlist .controls input[type=range], .playlist .controls input[type=range]::-webkit-slider-runnable-track, .playlist .controls input[type="range"]::-moz-range-track {
	background: transparent;
}

.playlist .controls label::after {
	content: "+";
	font-size: 24px;
	color: #eeeeee;
}

.playlist .controls label::before {
	content: "-";
	font-size: 24px;
	color: #eeeeee;
}
.playlist .controls .btn-mute::after {
	content: " | ";
	color: #eeeeee;
}

.playlist .controls input[type="range"]::-moz-range-thumb, .playlist .controls input[type="range"]::-webkit-slider-thumb {
	background: #ffa500;
	width: 5px;
	height: 12px;
	border-radius: 0;
}
.playlist .controls input[type="range"]::-moz-range-track {
	height: 3px;
	background-color: #808080;
}

.track-drop {
	margin-top: 15px;
	padding: 5px;
	border: 2px dashed #aaaaaa;
	text-align: center;
	display: block;
}